service-account-file.json
__pycache__
window_capture.jpg
screen_capture.jpg
venv
output_en_elevenlabs
output_en_htplay
.DS_Store
exceptions.txt
.env
*.pkl
*.sqlite3
outputs
venv*/
*.pth
eval_data
static/app/
